<div class="row" style="width:100vw;">
        <div class="container-fluid footer pt-3" id="footer">
            <div class="container">
                <div class="row justify-content-center ">
                    <div class="col-1 text-center">
                        <a class="text-white" href="https://twitter.com/templeuniv" target="_blank"><i
                                class="fab fa-lg fa-twitter"></i></a>
                    </div>
                    <div class="col-1 text-center">
                        <a class="text-white" href="https://www.facebook.com/templeu" target="_blank">
                            <i class="fab fa-lg fa-facebook"></i>
                        </a>
                    </div>
                    <div class="col-1 text-center">
                        <a class="text-white" href="https://www.instagram.com/templeuniv/" target="_blank"><i
                                class="fab fa-lg fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center mt-2 pb-2">
                    <div class="col text-center" style="color:white;">
                        <p class="small">&copy; Copyright {{currentYear}} TUMapSafe</p>
                    </div>
                </div>
            </div>

        </div>
    
</div>