agm-map {
    height: 75vh;
}

#alerts{
    background-color: white;
    
}

#info-text {
    font-family: sans-serif;
    font-size: large;
}

#histContainer {
    background-color:#981F32;
    margin-top: 5px;
    color: white;
    margin-bottom: 5px;
}