
<div class="container" style="background-color:white;">
  <div class="row justify-content-center">
    <div class="col-8 pb-5 pt-2" id="histContainer" *ngFor="let alert of Alerts">
      <h3>{{ alert.Date }} at {{ alert.Time }}</h3>
      <h4 *ngIf="alert.Description === 'N/A'; else noDesc">An alert was sent but no description was provided.</h4>
      <ng-template #noDesc>{{ alert.Description }}</ng-template>
      <hr class="my-2">
      <agm-map *ngIf="!(alert.Latitude === 0) && !(alert.Longitude === 0); else noAlert"[zoom]="16" [latitude]="alert.Latitude" [longitude]="alert.Longitude">
        <agm-marker   [latitude]="alert.Latitude" [longitude]="alert.Longitude">
          <agm-info-window>
            <div id="info-text" style="text-align: center;"> {{ alert.Description }} </div>
            <div id="info-text" style="text-align: center;"> {{ alert.Date }} at {{ alert.Time }} </div>
          </agm-info-window>
        </agm-marker>
      </agm-map>
      <ng-template #noAlert>This Alert has no mappable coordinates!</ng-template>
    </div>
  </div>
</div>

