<html>
<body>
  <head>
    <title>Contacts Page</title>
  </head>

  <h1>
    Emergency Call List
  </h1>

  <h3>
    <a href="tel:+1-215-204-1234">Call Temple Police</a>
  </h3>

  <h3>
    <a href="tel:+1-215-204-2357">Call Crime Tip Line</a>
  </h3>

  <h1>
    Request A Walking Escort (Available Daily From 4:00pm – 6:00am)
  </h1>

  <h3>
    <a href="tel:+1-215-777-9255">Call Walking Escort Program</a>
  </h3>

  <h1>
    Locations
  </h1>

<h3>
  <ul>
    <li>Police Administration - <a href="https://www.google.com/maps/dir//1101+W+Montgomery+Ave,+Philadelphia,+PA+19122/@40.0787714,-75.2507562,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c6c80a89767a41:0xe05fe04c02d80b75!2m2!1d-75.1532033!2d39.9798312">1101 W. Montgomery Avenue, Philadelphia</a></li>
    <li>Administrative Building - <a href="https://www.google.com/maps/dir//801+N+11th+St,+Philadelphia,+PA+19123/@40.0707478,-75.2020119,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c6c7d7dc2690a7:0xf6a251561b6ab6d1!2m2!1d-75.1549228!2d39.9666937">801 N. 11th Street, Philadelphia </a></li>
    <li>Center Station - <a href="https://www.google.com/maps/dir//Beasley+and+Polett+Walk,+Philadelphia/@40.0787832,-75.2507562,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c6c7e086a156cf:0x1853a9a731d7d849!2m2!1d-75.1568189!2d39.9798548">Beasley and Polett Walks, Philadelphia</a></li>
    <li>Police Mini Station - <a href="https://www.google.com/maps/dir//1600+N+Park+Ave,+Philadelphia,+PA+19132/@40.0824341,-75.1869038,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c6c7e27038e593:0xf08750bee41baac1!2m2!1d-75.1542667!2d39.9892008">1600 N. Park Avenue, Philadelphia </a></li>
    <li>Police / Public Safety - <a href="https://www.google.com/maps/dir//513+Cecil+B.+Moore+Ave,+Philadelphia,+PA+19122/@40.0674556,-75.2020119,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c6c80d4c8025ff:0x79aee8018338943b!2m2!1d-75.1439299!2d39.9771904">513 Cecil B. Moore Avenue, Philadelphia </a></li>
  </ul>
</h3>

  <h1>
    Email Temple Police
  </h1>
  
  <h3> 
    <a href="mailto:police@temple.edu"> Send Email to Temple Police</a>
  </h3>

</body>
</html>