<div class="container pb-5" id="contactComponent">
  <div class="container" id="content">
    <div>

      <h1 class="display-7">
        Call for Help
        <small class="text-muted">  -- CLICK to DIAL</small>

      </h1>
      <hr class="my-2">
      <h3>
        <ul class="list-group">
          <a href="tel:+1-215-204-1234">
            <li class="list-group-item">Call Temple Police</li>
          </a>
          <a href="tel:+1-215-204-2357">
            <li class="list-group-item">Call The Crime Tip Line</li>
          </a>
          <a href="tel:+1-911">
            <li class="list-group-item">Call 911 (Philly Police)</li>
          </a>
        </ul>

      </h3>

    </div>


    <h1>
      Request a Walking Escort 
      <small class="text-muted"> -- Available Every Evening From 4pm–6am</small>
    </h1>
    <hr class="my-2">
    <h3>
      <ul class="list-group">
        <a href="tel:+1-215-777-9255">
          <li class="list-group-item">
            Call Walking Escort Program
          </li>
        </a>
      </ul>
    </h3>
    <h1>
      Send a Tip to Temple Police
    </h1>
    <hr class="my-2">
    <h3>
      <ul class="list-group">
        <a
          href="https://submitatip.temple.edu/eforma/public/previewform.do?formid=38&amp;navigation=5&amp;isPublicCategory=2&amp;header=&amp;ancestorL=0,"target="_blank">
          <li class="list-group-item">Submit Anonymous Tip to Temple Police (Online Form)</li>
        </a>
        <a
          href="mailto:police@temple.edu"target="_blank">
        <li class="list-group-item">Email the Temple Police</li>
        </a>
      </ul>
    </h3>
    <h1>
      Police Locations
    </h1>
    <hr class="my-2">
    <h3>
      <ul class="list-group">
        <a
          href="https://www.google.com/maps?saddr=My+Location&daddr=1101+W+Montgomery+Ave,+Philadelphia,+PA+19122"target="_blank">
          <li class="list-group-item">Police Administration - 1101 W. Montgomery Avenue, Philadelphia</li>
        </a>
        <a
          href="https://www.google.com/maps?saddr=My+Location&daddr=1801+N+11th+St,+Philadelphia,+PA+19122"target="_blank">
          <li class="list-group-item">Administrative Building - 1801 N. 11th Street, Philadelphia </li>
        </a>
        <a
          href="https://www.google.com/maps?saddr=My+Location&daddr=Conwell+Inn,+Polett+Walk,+Philadelphia,+PA+19122,"target="_blank">
          <li class="list-group-item">Center Station - Beasley and Polett Walks, Philadelphia</li>
        </a>
        <a
          href="https://www.google.com/maps?saddr=My+Location&daddr=1600+N+Park+Ave,+Philadelphia,+PA+19122"target="_blank">
          <li class="list-group-item">Police Mini Station - 1600 N. Park Avenue, Philadelphia </li>
        </a>
        <a
          href="https://www.google.com/maps?saddr=My+Location&daddr=1513+Cecil+B.+Moore+Ave,+Philadelphia,+PA+19122"target="_blank">
          <li class="list-group-item">Police / Public Safety - 1513 Cecil B. Moore Avenue, Philadelphia </li>
        </a>
      </ul>
    </h3>


    

  </div>
  
</div>