<div class="container-fluid">
  <nav class="navbar fixed-top navbar-light bg-light" style="background-color:rgb(152, 31, 50);">
    <img src="app/pictures/templeT.png">
    <a class="navbar-brand" routerLink="/home">{{ appTitle }} </a>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home">Home</a>
      <a class="nav-item nav-link" routerLink="/contact">Contact</a>
      <a class="nav-item nav-link" routerLink="/signUp">Sign Up</a>
      <a class="nav-item nav-link" routerLink="/history">History</a>
    </div>
  </nav>
</div>