
.nav-item{
    padding:3px;
    margin-left: 20px;
}
.container-fluid{
    width: 100%;
}
img {
    width: 30px;
}
.navbar-nav {
    float: right;
    padding-top: 15px;
    padding-right: 50px;
}

a.navbar-brand {
    margin-left: 100px;
    font-size: 37px;
}

a.nav-item.nav-link, a{
    text-decoration: none;
    color: white;
}

a.nav-item.nav-link:hover {
    background-color: darkslategray;
    border-radius: 20%;
}
