#contactComponent {
    background-color: rgb(248, 240, 240);
    
}
.vision {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 10px;
  } 

.qut {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px;
}
.num{
    color: white;
}
#moreInfo{
    color:white; 
    border-color: rgb(152, 31, 50);
    background-color: rgb(152, 31, 50);
    box-shadow: 50px;
    
}
.list-group-item {
    transition: all 0.3s ease-in-out;
}
.list-group-item:hover{
    background-color:rgb(127, 10, 12);
    color: white;
}