#helpComponent {
    background-color: white;
    
}


#vision{ 
    color: white;
    background-color:rgb(152, 31, 50);
    text-align-last: center;
    
    
}
#accordItem { 
    color: black;
    text-decoration: none;

}

