<div class="container">
  <div class="row">
    <div class="col-12">
      <agm-map [zoom]="18" [latitude]="lat" [longitude]="long">
        
        <agm-marker [latitude]="lat" [longitude]="long" [iconUrl]="userIcon">
          <agm-info-window>
              <div id="info-text">You are here.</div>
          </agm-info-window>
        </agm-marker>
        
        <agm-marker [latitude]="39.97282" [longitude]="-75.1623064" [iconUrl]="alertIcon">
            <agm-info-window>
                <div id="info-text"> {{ alertDescription }} </div>
            </agm-info-window>
          </agm-marker>

      </agm-map>
    </div>
</div>