<div class="container">
  <div class="row">
    <div class="col-10">
      <agm-map [zoom]="18" [latitude]="lat" [longitude]="long">
        <agm-marker [latitude]="lat" [longitude]="long">
          <agm-info-window>
              <div id="info-text">You are here.</div>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
    <div class="col-2">
      Area for alerts
    </div>
  </div>
  <div class="row">
    <div class="col">
      TUMapSafe Providing you with a TU view!
    </div>
  </div>
</div>